<div class="page-header">
    <h3>Add New Measurement</h3>
</div>



    <!--<label for="size" class="col-sm-3 control-label">Size:</label>-->
    <!--<div class="col-sm-9">-->
    <!--<input id="size" ng-model="size" type="text" class="form-control" />-->
    <!--</div>-->
    <label class="control-label col-sm-2" for="customer">Customer</label>
    <div class="col-sm-10">
        <input ng-model="newMeasurementEntry.customer" id="customer" class="form-control" /> {{newMeasurementEntry.customer}}
    </div>
    <label class="control-label col-sm-2" for="customer">Style</label>
    <div class="col-sm-10">
        <input ng-model="newMeasurementEntry.style" id="style" class="form-control" />
    </div>
    <label class="control-label col-sm-2" for="customer">Batch No:</label>
    <div class="col-sm-10">
        <input ng-model="newMeasurementEntry.batchno" id="batchno" class="form-control" />
    </div>


    <table class="table table-bordered table-hover table-condensed">

    <tr style="font-weight: bold">
        <td style="width:10%">Size</td>
        <td style="width:10%">Body</td>
        <td style="width:10%">Sleeve</td>
    </tr>

    <tr ng-repeat="size in sizes">
        <td>
            <!-- editable Garment no: (float with validation) -->
            <span text="size.s" ng-model="size.s"  e-form="tableform" >
                {{ size.s }}
            </span>
        </td>
        <td>
            <span>
            <a href="#!/addBody" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" title={{newMeasurementEntry.customer}} ><span class="fa fa-plus"></span></a>
            </span>
        </td>
        <td>
            <span>
            <a href="#!/addSleeve" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" title="uhj"><span class="fa fa-plus"></span></a>
            </span>
        </td>
    </tr>
</table>

    <!--<div class="form-group" ng-hide="nextButton">-->
    <!--<label class="control-label col-sm-2" for="customer">Garment1</label>-->
    <!--<div class="col-sm-10">-->
        <!--<input ng-model="newMeasurementEntry.gmt1_ChestWidth" id="gmt1_ChestWidth" placeholder="ChestWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt1_HemWidth" id="gmt1_HemWidth" placeholder="HemWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt1_CBLength" id="gmt1_CBLength" placeholder="CBLength"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt1_CFLength" id="gmt1_CFLength" placeholder="CFLength"/>-->
    <!--</div>-->

    <!--<label class="control-label col-sm-2" for="customer">Garment2</label>-->
    <!--<div class="col-sm-10">-->
        <!--<input ng-model="newMeasurementEntry.gmt2_ChestWidth" id="gmt2_ChestWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt2_HemWidth" id="gmt2_HemWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt2_CBLength" id="gmt2_CBLength"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt2_CFLength" id="gmt2_CFLength"/>-->
    <!--</div>-->

    <!--<label class="control-label col-sm-2" for="customer">Garment3</label>-->
    <!--<div class="col-sm-10">-->
        <!--<input ng-model="newMeasurementEntry.gmt3_ChestWidth" id="gmt3_ChestWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt3_HemWidth" id="gmt3_HemWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt3_CBLength" id="gmt3_CBLength"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt3_CFLength" id="gmt3_CFLength"/>-->
    <!--</div>-->

    <!--<label class="control-label col-sm-2" for="customer">Garment4</label>-->
    <!--<div class="col-sm-10">-->
        <!--<input ng-model="newMeasurementEntry.gmt4_ChestWidth" id="gmt4_ChestWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt4_HemWidth" id="gmt4_HemWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt4_CBLength" id="gmt4_CBLength"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt4_CFLength" id="gmt4_CFLength"/>-->
    <!--</div>-->

    <!--<label class="control-label col-sm-2" for="customer">Garment5</label>-->
    <!--<div class="col-sm-10">-->
        <!--<input ng-model="newMeasurementEntry.gmt5_ChestWidth" id="gmt5_ChestWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt5_HemWidth" id="gmt5_HemWidth"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt5_CBLength" id="gmt5_CBLength"/>-->
        <!--<input ng-model="newMeasurementEntry.gmt5_CFLength" id="gmt5_CFLength"/>-->
    <!--</div>-->
    <!--</div>-->



<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-sm-10 col-sm-offset-2">&ndash;&gt;-->
        <!--&lt;!&ndash;<button  class="btn btn-primary" ng-click="next()" ng-model="nextButton"><span class="fa fa-check"></span> Next</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="form-group">-->
    <!--<div class="col-sm-10 col-sm-offset-2">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="save()" ng-model="saveButton"><span class="fa fa-check"></span> Save</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div ng-show="nextButton">-->
    <!--<h1>Welcome</h1>-->
    <!--<p>Welcome to my home.</p>-->
<!--</div>-->
</form>