<div class="pull-right">
    <a href="#!/newmeasurement" class="btn btn-default" ng-show="hasRole('ROLE_ADMIN')" title="Create"><span class="fa fa-plus"></span></a>
</div>
<div class="page-header">
    <h3>Measurements</h3>
</div>

<div ng-repeat="newMeasurementEntry in newMeasurementEntries">

    <div class="pull-right">
        <a href="" ng-click="deleteEntry(newMeasurementEntry)" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')" title="delete"><span class="fa fa-trash-o"></span></a>
        <a href="#!/newmeasurement/{{newMeasurementEntry.id}}" class="btn btn-xs btn-default" ng-show="hasRole('ROLE_ADMIN')" title="edit"><span class="fa fa-pencil"></span></a>
    </div>
    <p>{{newMeasurementEntry.date | date}}</p>
    <p>{{newMeasurementEntry.customer}} {{newMeasurementEntry.content}} {{newMeasurementEntry.batchno}} {{newMeasurementEntry.size}} {{newMeasurementEntry.gmt1_ChestWidth}}</p>
    <p>{{newMeasurementEntry.content}}</p>
    <!--<p>{{newMeasurementEntry.batchno}}</p>-->
</div>
<hr />